@import './mixins.styl'
#app
  width 100%
  height 100%
  #headerContainer
    width 100%
    //display flex
    .header
      display flex
      width 100%
      padding 4px 7px
      align-items center
      .header_logo
        width 69px
      .header_search
        //border 1px solid #333
        width 242px
        height: 28px
        margin 0 4px
        border-radius 2px
        background #EDEDED
      .btn
        width 38px
        height 20px
        border-radius 2px
        border 1px solid #D99295
        font-size 10px


